<!DOCTYPE html>
<html>
  <head>
    <title>Bacon</title>

    <script src="//codeorigin.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.21/Bacon.min.js"></script>

  </head>

  <body>

    <button id="up"> Up </button>
    <button id="down"> Down </button>
    <span id="counter"> 0 </span>

  </body>

</html>
<script src="bacontest.js"></script>
